{% extends "base/base.html" %}

{% block title %}Crear Área de Trabajo{% endblock %}

{% block content %}
  <h1>Crear Área de Trabajo</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'core:AreasTrabajo' %}" class="btn btn-success">Volver a la lista de áreas de trabajo</a>
  </form>
  
{% endblock %}
