{% extends 'base/equipoindex.html' %}

{% block title %}Delete Ciudad View{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas eliminar esta ciudad: {{ object }}?
        <a href="{% url 'home:ciudadindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{% endblock content %}
