{% extends "base/base.html" %}

{% block title %}Crear Empleado{% endblock %}

{% block content %}
  <h1>Crear Empleado</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'core:Empleados' %}" class="btn btn-success">Volver a la lista de Empleados</a>
  </form>
  
{% endblock %}
