{% extends "base/base.html" %}

{% block title %}Actualizar Empleado{% endblock %}

{% block content %}
  <h1>Actualizar Empleado</h1>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
    <a href="{% url 'core:Empleados' %}" class="btn btn-outline-warning" >Volver a la lista de Empleados</a>
  </form>
  
{% endblock %}
